<%- include("./partials/header") %>
<div class=" ui main text container">
  <br>
        <h1 class="ui center aligned header">A note from developers</h1>
        <p>We are just some random teens interested in UI/UX Designs and Building web apps with beautiful interface.</p>
        <br><hr>
        <div class="ui divided items">
            <div class="item">

              <div class="content">
                <a class="header">Sudhanshu Mohan Kashyap</a>
                <div class="ui small circular left floated image">
                    <img src="https://avatars.githubusercontent.com/u/44811918?v=4">
                  </div>
                <div class="meta">
                  <span class="dark">Electrical & Electronics Major at BITS Pilani</span>
                </div>
                <div class="description">
                <p><i>"I am mainly interested in building beautiful UI/UX Interfaces."</i>
                    I started out as cybersecurity enthusiast but later got interested in web development. Since then i am constantly developing and deploying webapps.
                </p>
                </div>
                <div class="extra">
                  <div class="ui label">Python</div>
                  <div class="ui label">Javascript</div>
                  <div class="ui label">NodeJS</div>
                  <div class="ui label">MongoDB</div>
                  
                                    
                  <div class="right floated">
                    <a href="https://github.com/mightyjoe781"><i class="large github icon"></i></a>
                    <a href="mailto:f20180319@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                    <a href="https://www.facebook.com/sudhanshu.mohan.smk"><i class="large facebook icon"></i></a>
                    <a href="https://www.linkedin.com/in/sudhanshu-mohan-kashyap-60458518a/"><i class="large linkedin alternate icon "></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="item">
                <div class="content">
                  <a class="header">Prashant Ramesh Jha</a>
                  <div class="ui small circular right floated image">
                    <img src="https://avatars.githubusercontent.com/u/40639806?v=4">
                  </div>
                  <div class="meta">
                    <span class="dark">Electronics & Communications Major at BITS Pilani</span>
                  </div>
                  <div class="description">
                  <p><i>"I am an innovator, always looking forward to build scalable solutions."</i>
                      Started with web applications, but now looking forward to software development. Solving problems is my passion, not hobby.
                  </p>
                  </div>
                  <div class="extra">
                    <div class="ui label">Python</div>
                    <div class="ui label">C++</div>
                    <div class="ui label">HTML</div>
                    <div class="ui label">CSS</div>
                    <div class="ui label">Javascript</div>
                    <div class="ui label">PHP</div>
                <div class="right floated">
                <a href="https://github.com/pjflux2001"><i class="large github icon"></i></a>
                      <a href="mailto:f20180332@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                      <a href="https://www.facebook.com/pj.flux"><i class="large facebook icon"></i></a>
                      <a href="https://www.linkedin.com/in/prashant-jha-22b1671a5/"><i class="large linkedin alternate icon "></i></a>
                </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<script> document.getElementById("contact").classList.add("active"); </script>
<%- include("./partials/footer") %>
