<%- include("./partials/header") %>
<div class=" ui main text container">
  <br>
    <h1 class = "ui center aligned header"> Team bitsNbytes </h1>
    <h3 class = "ui center aligned header"> presents </h3>
    <h1 class = "ui center aligned header"> CovidTracer </h1>
    <br> <hr>
        <div class = "ui segment">
        Summary : Covid Tracer uses HereMaps API along with firebase
        for providing realtime information about covid infected patients
        or potential carriers.
        </div>
        <hr>
        <div class = "ui horizontal segments">
        <div class = "ui center aligned segment">
            <h2 class = "ui center aligned header"> Video  </h2>
            <a href="https://www.youtube.com/watch?v=U1IOmE8ete0">
            <button class = "ui basic button">
                <i class="youtube icon"></i>
                YouTube
            </button>
            </a>
        </div>
        <div class = "ui center aligned segment">
            <h2 class = "ui center aligned header"> Code </h2>
            <a href="https://github.com/mightyjoe781/covidtracer">
            <button class = "ui basic button">
                <i class="github icon"></i>
                GitHub
            </button>
            </a>
        </div>
        <div class = "ui center aligned segment">
            <h2 class = "ui center aligned header"> Live </h2>
            <a href="./map">
            <button class = "ui basic button">
                <i class="github icon"></i>
                Website
            </button>
            </a>
        </div>
        
        </div>
        
    </div>
<script> document.getElementById("home").classList.add("active"); </script>
<%- include("./partials/footer") %>
