<%- include("./partials/header") %>
<div class=" ui main text container">
  <br>
  This will be the landing Page
</div>
<script> document.getElementById("home").classList.add("active"); </script>
<%- include("./partials/footer") %>
